@import "tailwindcss";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html {
  scroll-behavior: smooth;
}

/* 文章正文排版放大 */
.prose {
  font-size: 1.0625rem;
  line-height: 1.8;
}

/* hide next.js devtools panel */
nextjs-portal { display: none !important; }
